html, body {
  overflow-x: hidden;
}

.experienceTitle {
  position: relative;
  display: block;
  font-size: clamp(2rem, 8vw, 6rem);
  text-align: right;
  padding: 1%;
  right: 26%;
  padding-right: 10%;
  margin-top: 0%;
  padding-top: 4vw;
  width: 120%;
  color: rgb(39, 39, 39);
  background-color: rgb(238, 232, 220);
  font-family: 'PoppinsLight';
  z-index:10;
}



.container {
  margin: 0;
  background-color: rgb(39, 39, 39);
  min-height: 230vh; 
  position: relative;
  z-index: -30;
  overflow-x: hidden;
  overflow-y: hidden;
  
}




.information {
  position: absolute;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
  margin-left: 10%;
  margin-top: -1%;
  width:80%;
  height: 195vh;
  background-color: rgb(26, 25, 25);
  border-radius: 6vh;
}

.title {
  margin: 0px;
  color: rgb(245, 239, 227) ;         
  font-size: clamp(2.3vh, 4vw, 3.125rem);
  white-space: nowrap;
  text-align: left;
  padding-top: 3.5vh;
  padding-left: 3vw;
  right: -1rem;
  font-family: 'PoppinsExtraLight';
  position: relative;
  z-index: 10;

}

.subtitle {
  color: rgb(245, 239, 227) ;         
  font-size: clamp(1rem, 2.5vw, 1.875rem);
  max-width: 1000px;
  text-align: left;
  padding-left: 25px;
  font-family: 'PoppinsExtraLight';
  z-index: 10;


}

.subsubtitle {
  color: rgb(245, 239, 227) ;         
  font-size: clamp(1.5vh, 2vw, 1.25rem);
  max-width: 1200px;
  text-align: left;
  padding-left: 35px;
  font-family: 'PoppinsExtraLight';
  z-index: 10;


}



li {
    list-style: none;
    position: relative;
    background-color:rgb(19, 18, 18);
    width: 95%;
    border-radius: 40px;
    margin-left: 2.1vw;
    right: 2rem;
    padding: 10px 10px;
    padding-bottom: 30px;
}

.afterInitial {
    margin-top: 40px;
}




@keyframes float {
  0%, 100% { transform: translateY(0px); }
  50% { transform: translateY(-20px); }
}


@media (max-width: 1280px) {

}

@media (max-width: 1024px) {

}

@media (max-width: 768px) {

}

@media (max-width: 580px) {

}

@media (max-width: 450px) {

.experienceTitle {
  padding-top: 30vw;
}

.information {
  height: 155vh;
  border-radius: 4vh;
  width:90%;
  margin-left: 5%;
}

.title {     
  font-size: clamp(2.6vh, 4vw, 3.125rem);
  padding-top: 2.4vh;
  padding-left: 2vw;
  right: -1rem;

}

.subtitle {        
  font-size: clamp(1rem, 2.5vw, 1.875rem);
  max-width: 1000px;
  text-align: left;
  padding-left: 2px;
}

.subsubtitle {     
  font-size: clamp(1.2vh, 2vw, 1.25rem);
  min-width: 300px;
  text-align: left;
  top: -10%;
  padding-left: 1px;
  font-family: 'PoppinsExtraLight';
  z-index: 10;


}

li {
    list-style: none;
    position: relative;
    background-color:rgb(19, 18, 18);
    width: 98%;
    border-radius: 25px;
    margin-left: 1.4vw;
    right: 2rem;
    padding: 5px 10px;
    padding-bottom: 15px;
}

.afterInitial {
    margin-top: 10px;
}

.container {
  min-height: 185vh; 
}

}