.container {
  background-color: rgb(39, 39, 39);
  min-height: 75vh;
  position: relative;
  z-index: -3;
  padding: 5% 2%;
  padding-bottom: 37%;
  box-sizing: border-box;
  overflow-y: hidden;
}

.text {
  margin-top: -8rem;
  position: relative;
  z-index: 10;
}

.title {
  margin: 0;
  color: rgb(238, 232, 220);
  font-size: clamp(3rem  , 30rem, 8vw);
  white-space: normal;
  text-align: left;
  padding-top: 20rem;
  margin-top: 4vw;
  line-height: 0.9;
  padding-left: 0.5vw;
  text-shadow: 0 0 20px rgb(17, 17, 17);
  font-family: 'PoppinsExtraLight';
  position: relative;
  z-index: 10;
  pointer-events: auto;
}

.subtitle {
  margin-top: 1rem;
  color: rgb(238, 232, 220);
  font-size: clamp(0.1rem, 115%, 13vw);
  max-width: 70%;
  white-space: normal;
  text-align: left;
  line-height: 1;
  padding-left: 1.6vw;
  text-shadow: 0 0 20px rgb(17, 17, 17);
  font-family: 'PoppinsExtraLight';
  z-index: 10;
  pointer-events: auto;
}

.circle1, .circle2, .circle3 {
  position: absolute;
  border-radius: 110%;
  background: rgb(37, 37, 37);
  box-shadow: 0px 20px 20px rgb(27, 27, 27);

}

.circle1 {
  width: 100vw;
  height: 65vw;
  top: 17rem;
  margin-top: -32vw;
  left: -20%;
  z-index: -4;
}

.circle2 {
  width: 100vw;
  height: 65vw;
  top: 18rem;
  margin-top: -25vw;
  left: -26%;
  z-index: -5;
}

.circle3 {
  width: 100vw;
  height: 65vw;
  top: 19rem;
  margin-top: -18vw;
  left: -32%;
  z-index: -6;
}



@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}