.container {
  background-color: rgb(39, 39, 39);
  min-height: 100vh;
  position: relative;
  z-index: -3;
  padding: 5% 2%;
  padding-bottom: 37%;
  box-sizing: border-box;
  overflow-y: hidden;
}

.text {
  margin-top: -8rem;
  position: relative;
  z-index: 10;
}

.title {
  margin: 0;
  color: rgb(238, 232, 220);
  font-size: clamp(3rem  , 30rem, 8vw);
  white-space: normal;
  text-align: left;
  padding-top: 22rem;
  margin-top: 4vw;
  line-height: 0.9;
  padding-left: 0.5vw;
  text-shadow: 0 0 20px rgb(17, 17, 17);
  font-family: 'PoppinsExtraLight';
  position: relative;
  z-index: 10;
  pointer-events: auto;
}

.subtitle {
  margin-top: 1rem;
  color: rgb(238, 232, 220);
  font-size: clamp(0.1rem, 115%, 13vw);
  max-width: 70%;
  white-space: normal;
  text-align: left;
  line-height: 1;
  padding-left: 1.6vw;
  text-shadow: 0 0 20px rgb(17, 17, 17);
  font-family: 'PoppinsExtraLight';
  z-index: 10;
  pointer-events: auto;
}

.circle1, .circle2, .circle3 {
  position: absolute;
  border-radius: 110%;
  background: rgb(37, 37, 37);
  box-shadow: 0px 20px 20px rgb(27, 27, 27);

}

.circle1 {
  width: 100vw;
  height: 65vw;
  top: 17rem;
  margin-top: -32vw;
  left: -20%;
  z-index: -4;
}

.circle2 {
  width: 100vw;
  height: 65vw;
  top: 18rem;
  margin-top: -25vw;
  left: -26%;
  z-index: -5;
}

.circle3 {
  width: 100vw;
  height: 65vw;
  top: 19rem;
  margin-top: -18vw;
  left: -32%;
  z-index: -6;
}



@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

@media (max-width: 1480px) {
.container {
  min-height: 100vh;
}
.title {
  padding-top: 24rem;
  margin-top: 3vw;
  font-size: clamp(7rem  , 7rem, 8vw);
}

.subtitle {
  margin-top: 0.5rem;
  font-size: clamp(0.3rem, 130%, 13vw);
}

.circle1 {
  width: 110vw;
  height: 70vw;
  top: 17rem;
  margin-top: -32vw;
  left: -24%;
  z-index: -4;
}

.circle2 {
  width: 110vw;
  height: 70vw;
  top: 18rem;
  margin-top: -25vw;
  left: -30%;
  z-index: -5;
}

.circle3 {
  width: 110vw;
  height: 70vw;
  top: 19rem;
  margin-top: -18vw;
  left: -36%;
  z-index: -6;
}

}

@media (max-width: 1280px) {
.container {
  min-height: 100vh;
}
.title {
  padding-top: 21rem;
  margin-top: 3vw;
  font-size: clamp(9rem  , 7rem, 8vw);
}

.subtitle {
  margin-top: 0.5rem;
  font-size: clamp(0.3rem, 150%, 13vw);
}

.circle1 {
  width: 115vw;
  height: 75vw;
  top: 18rem;
  margin-top: -32vw;
  left: -24%;
  z-index: -4;
}

.circle2 {
  width: 115vw;
  height: 75vw;
  top: 20rem;
  margin-top: -25vw;
  left: -30%;
  z-index: -5;
}

.circle3 {
  width: 115vw;
  height: 75vw;
  top: 22rem;
  margin-top: -18vw;
  left: -36%;
  z-index: -6;
}
}




@media (max-width: 1024px) {
.container {
  min-height: 100vh;
}

.title {
  padding-top: 25rem;
  margin-top: 3vw;
  font-size: clamp(6.85rem  , 8rem, 8vw);
}

.subtitle {
  margin-top: 0.5rem;
  font-size: clamp(0.3rem, 170%, 13vw);
}

.circle1 {
  width: 120vw;
  height: 85vw;
  top: 20rem;
  margin-top: -32vw;
  left: -24%;
  z-index: -4;
}

.circle2 {
  width: 120vw;
  height: 85vw;
  top: 22rem;
  margin-top: -25vw;
  left: -32%;
  z-index: -5;
}

.circle3 {
  width: 120vw;
  height: 85vw;
  top: 24rem;
  margin-top: -18vw;
  left: -40%;
  z-index: -6;
}
}









@media (max-width: 768px) {
.container {
  min-height: 100vh;
}

.title {
  padding-top: 24rem;
  margin-top: 3vw;
  font-size: clamp(5.5rem  , 7rem, 8vw);
}

.subtitle {
  margin-top: 0.5rem;
  font-size: clamp(0.3rem, 150%, 13vw);
}

.circle1 {
  width: 120vw;
  height: 85vw;
  top: 20rem;
  margin-top: -32vw;
  left: -24%;
  z-index: -4;
}

.circle2 {
  width: 120vw;
  height: 85vw;
  top: 22rem;
  margin-top: -25vw;
  left: -32%;
  z-index: -5;
}

.circle3 {
  width: 120vw;
  height: 85vw;
  top: 24rem;
  margin-top: -18vw;
  left: -40%;
  z-index: -6;
}
}
















@media (max-width: 640px) {
.container {
  min-height: 100vh;
}



.title {
  padding-top: 26rem;
  margin-top: 3vh;
  font-size: clamp(4.3rem  , 6rem, 8vw);
}

.subtitle {
  margin-top: 0.5rem;
  font-size: clamp(0.3rem, 140%, 13vw);
}


.circle1 {
  width: 145vw;
  height: 125vw;
  top: 16rem;
  margin-top: -32vw;
  left: -50%;
  z-index: -4;
}

.circle2 {
  width: 145vw;
  height: 125vw;
  top: 19rem;
  margin-top: -25vw;
  left: -58%;
  z-index: -5;
}

.circle3 {
  width: 145vw;
  height: 125vw;
  top: 22rem;
  margin-top: -18vw;
  left: -66%;
  z-index: -6;
}

}















@media (max-width: 450px) {
.container {
  min-height: 100vh;
}



.title {
  padding-top: 26rem;
  margin-top: 3vh;
  font-size: clamp(3.4rem  , 6rem, 8vw);
}

.subtitle {
  margin-top: 0.5rem;
  font-size: clamp(0.3rem, 110%, 13vw);
}


.circle1 {
  width: 145vw;
  height: 125vw;
  top: 16rem;
  margin-top: -32vw;
  left: -50%;
  z-index: -4;
}

.circle2 {
  width: 145vw;
  height: 125vw;
  top: 19rem;
  margin-top: -25vw;
  left: -58%;
  z-index: -5;
}

.circle3 {
  width: 145vw;
  height: 125vw;
  top: 22rem;
  margin-top: -18vw;
  left: -66%;
  z-index: -6;
}

}












