html, body {
  overflow-x: hidden;
}


.container {
  width: 100%;
  align-items: center;
  background-color: rgb(19, 18, 18);
  min-height: 100vh; 
  position: relative;
  z-index: 10;
  overflow-x: hidden;
  overflow-y: hidden;

  
}


.title {
  margin: 0px;
  color: rgb(245, 239, 227) ;         
  font-size: clamp(2.5rem, 8vw, 7.5rem);
  white-space: nowrap;
  padding-top: 140px;
  font-family: 'PoppinsExtraLight';
  position: relative;
  z-index: 10;

}

.subtitle {
  display: inline-block;
  margin: 0px;
  align-items: center;
  justify-content: center;
  color: rgb(245, 239, 227) ;         
  font-size: clamp(0.875rem, 1.5vw, 1.25rem);
  max-width: 70%;
  padding: 0px 50px;
  padding-bottom: 20px;
  position: relative;
  font-family: 'PoppinsExtraLight';
  z-index: 10;


}


.buttons {
    display: flex;
    justify-content: center;
    position: relative;
    gap: 6.25rem;
    z-index: 19;
    align-items: center;
    left:-17px;
}

.button .mail {
    margin-top: 50px;
    width: 9.375rem;
    z-index: 19;
    transition: all 0.3s ease;
    position: relative;
    left:21.5px;
}

.button .gitlab {
    margin-top: 50px;
    width: 5.9375rem;
    z-index: 19;
    transition: all 0.3s ease;
}

.button .linkedin {
    margin-top: 50px;
    width: 5.625rem;
    z-index: 19;
    transition: all 0.3s ease;
}

.button .whatsapp {
    margin-top: 50px;
    width: 6.875rem;
    z-index: 19;
    transition: all 0.3s ease;
}


.button img:hover {
    transform: scale(1.05);
    filter: drop-shadow(0 0 5px rgba(250, 241, 224, 0.24));
}








@media (max-width: 1024px) {

    .container {
  padding-top: 30px;
  min-height: 110vh; 

  
}

.subtitle {        
  font-size: clamp(1rem, 1.5vw, 1.25rem);
  min-width: 90%;
  padding: 0px 5px;
}

.buttons {
  position: relative;
    gap: 5rem;
    left:-21.5px;
}

.button .mail {
  position: relative;
    margin-top: 50px;
    width: 10rem;
    left:29px;

}

.button .gitlab {
    margin-top: 50px;
    width: 5.7rem;

}

.button .linkedin {
    margin-top: 50px;
    width: 5.3rem;

}

.button .whatsapp {
    margin-top: 50px;
    width: 6.3rem;

}
}


@media (max-width: 768px) {

  .container {
  padding-top: 40px;
  min-height: 120vh; 
  
}

.subtitle {        
  font-size: clamp(0.7rem, 1.5vw, 1.25rem);
  min-width: 80%;
  padding: 0px 5px;
}

.buttons {
  position: relative;
    gap: 2rem;
    left:-15px;
}

.button .mail {
  position: relative;
    margin-top: 50px;
    width: 6.8rem;
    left:17px;

}

.button .gitlab {
    margin-top: 50px;
    width: 4rem;

}

.button .linkedin {
    margin-top: 50px;
    width: 3.7rem;

}

.button .whatsapp {
    margin-top: 50px;
    width: 4.5rem;

}
}




@media (max-width: 450px) {


.container {
  padding-top: 70px;
  max-height: 110vh; 
  
}

.subtitle {        
  font-size: clamp(0.7rem, 1.5vw, 1.25rem);
  min-width: 90%;
  padding: 0px 5px;
}

.buttons {
  position: relative;
    gap: 1rem;
    left:-10px;
}

.button .mail {
  position: relative;
    margin-top: 50px;
    width: 5rem;
    left:10px;

}

.button .gitlab {
    margin-top: 50px;
    width: 3rem;

}

.button .linkedin {
    margin-top: 50px;
    width: 2.8rem;

}

.button .whatsapp {
    margin-top: 50px;
    width: 3.6rem;

}

}