html, body {
  overflow-x: hidden;
  font-family: 'PoppinsLight', sans-serif;
}

.container {
  background-color: rgb(238, 232, 220);
  min-height: 80vw;
  padding-bottom: 30vh;
  box-sizing: border-box;
  position: relative;
  z-index: -10;
  overflow-x: hidden;
  overflow-y : hidden;
}


.information {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
  z-index: 10;
  padding-right: 4vh;
  margin-bottom: -58vh;
}

.title {
  position: relative;
  font-size: clamp(2.5rem, 8vw, 8rem);
  text-align: right;
  padding-top: 3rem;
  margin-top: 14vw;
  color: rgb(39, 39, 39);
  font-family: 'PoppinsExtraLight', sans-serif;
}

.subtitle {
  font-size: clamp(0.7rem, 1vw, 1.1rem);
  text-align: right;
  margin-top: -1.3rem;
  top: -7vw;
  position: relative;
  width: 45vw;
  color: rgb(39, 39, 39);
}

.information img {
  width: clamp(30vw, 55%, 80vw);
  height: auto;
  border-radius: 10px;
  position: absolute;
  top:  10rem;
  margin-top: 1vw;
  right: 50vw;
  align-self: flex-start;
  z-index: -1;
  opacity: 0.9;
}

.subsubtitle {
  font-size: clamp(1rem, 2vw, 2rem);
  max-width: 70%;
  top: -18rem;
  padding-top: 30vw;
  text-align: left;
  right: 25vw;
  margin-bottom: -2rem;
  padding-left: 8rem;
  color: rgb(39, 39, 39);
  background: transparent;
  border-radius: 15px;
  position: relative;
  z-index: 10;
}



.circle1, .circle2, .circle3 {
  position: absolute;
  border-radius: 50%;
  background: rgb(238, 232, 220);
  box-shadow: 0px 20px 20px rgba(128, 128, 128, 0.336);
}

.circle1 {
  width: 80vw;
  height: 45vw;
  top: 7rem;
  margin-top: -3vw;
  right: -17%;
  z-index: -1;
}

.circle2 {
  width: 80vw;
  height: 45vw;
  top: 9rem;
  margin-top: 1vw;
  right: -20%;
  z-index: -2;
}

.circle3 {
  width: 80vw;
  height: 45vw;
  top: 11rem;
  margin-top: 5vw;
  right: -24%;
  z-index: -3;
}


@keyframes float {
  0%, 100% { transform: translateY(0px); }
  50% { transform: translateY(-20px); }
}









@media (max-width: 1280px) {
.container {
  padding-bottom: 45vh;
}

.title {
  font-size: clamp(5rem, 8vw, 8rem);
  padding-top: 1rem;
  margin-right: -1vh;
}

.subtitle {
  font-size: clamp(0.8rem, 1vw, 1.1rem);
  margin-top: -1rem;
  top: -8vw;
  width: 49vw;
  margin-right: -0.4vh;

}

.information img {
  width: clamp(30vw, 60%, 80vw);
  top:  6rem;
  right: 48vw;

}

.subsubtitle {
  font-size: clamp(0.9rem, 2vw, 2rem);
  width: 120rem;
  top: -8rem;
  padding-top: 20vw;
}

.circle1 {
  top: 6rem;
}

.circle2 {

  top: 7rem;

}

.circle3 {

  top: 8rem;

}
}







@media (max-width: 1024px) {
.container {
  padding-bottom: 45vh;
}

.title {
  font-size: clamp(5rem, 8vw, 8rem);
  padding-top: 3rem;
  margin-right: -1vh;
}

.subtitle {
  font-size: clamp(0.9rem, 1vw, 1.1rem);
  margin-top: -2rem;
  top: -8vw;
  width: 49vw;
  margin-right: -0.4vh;

}

.information img {
  width: clamp(32vw, 66%, 85vw);
  top:  7.5rem;
  right: 43vw;

}

.subsubtitle {
  font-size: clamp(1rem, 2vw, 2rem);
  width: 120rem;
  top: -13rem;
  padding-top: 20vw;
}

.circle1 {
  width: 100vw;
  height: 60vw;
  top: 3rem;
  margin-top: -3vw;
  right: -40%;
  z-index: -1;
}

.circle2 {
  width: 100vw;
  height: 60vw;
  top: 4rem;
  margin-top: 1vw;
  right: -43%;
  z-index: -2;
}

.circle3 {
  width: 100vw;
  height: 60vw;
  top: 5rem;
  margin-top: 5vw;
  right: -46%;
  z-index: -3;
}
}









@media (max-width: 768px) {
.container {
  padding-bottom: 50vh;
}

.title {
  font-size: clamp(5rem, 8vw, 8rem);
  padding-top: 1rem;
  margin-right: -1vh;
}

.subtitle {
  font-size: clamp(1rem, 1vw, 1.1rem);
  margin-top: -2.3rem;
  top: -8vw;
  width: 49vw;
  margin-right: -0.4vh;

}

.information img {
  width: clamp(32vw, 70%, 85vw);
  top:  7rem;
  right: 41vw;

}

.subsubtitle {
  font-size: clamp(1.2rem, 2vw, 2rem);
  width: 120rem;
  top: -13rem;
  padding-top: 20vw;
}

.circle1 {
  width: 110vw;
  height: 80vw;
  top: 1rem;
  margin-top: -3vw;
  right: -45%;
  z-index: -1;
}

.circle2 {
  width: 110vw;
  height: 80vw;
  top: 3rem;
  margin-top: 1vw;
  right: -50%;
  z-index: -2;
}

.circle3 {
  width: 110vw;
  height: 80vw;
  top: 5rem;
  margin-top: 5vw;
  right: -55%;
  z-index: -3;
}

}









@media (max-width: 640px) {
.container {
  padding-bottom: 55vh;
}

.title {
  font-size: clamp(4rem, 8vw, 8rem);
  padding-top: 1rem;
  margin-right: -1vh;
}

.subtitle {
  font-size: clamp(1rem, 1vw, 1.1rem);
  margin-top: -2.3rem;
  top: -6vw;
  width: 49vw;
  margin-right: -0.4vh;

}

.information img {
  width: clamp(30vw, 78%, 80vw);
  top:  8rem;
  right: 35vw;

}

.subsubtitle {
  font-size: clamp(1.1rem, 2vw, 2rem);
  width: 120rem;
  top: -10rem;
  padding-top: 20vw;
}

.circle1 {
  width: 120vw;
  height: 95vw;
  top: 6rem;
  margin-top: -3vw;
  right: -45%;
  z-index: -1;
}

.circle2 {
  width: 120vw;
  height: 95vw;
  top: 8rem;
  margin-top: 1vw;
  right: -50%;
  z-index: -2;
}

.circle3 {
  width: 120vw;
  height: 95vw;
  top: 10rem;
  margin-top: 5vw;
  right: -55%;
  z-index: -3;
}

}










@media (max-width: 450px) {
  .container {
  padding-bottom: 55vh;
}

.title {
  font-size: clamp(3rem, 8vw, 8rem);
  padding-top: 1rem;
  margin-right: -2vh;
}

.subtitle {
  font-size: clamp(0.7rem, 1vw, 1.1rem);
  margin-top: -1.7rem;
  top: -7vw;
  width: 50vw;
  margin-right: -1.5vh;

}

.information img {
  width: clamp(30vw, 65%, 80vw);
  top:  7rem;
  right: 45vw;

}

.subsubtitle {
  font-size: clamp(0.8rem, 2vw, 2rem);
  width: 120rem;
  top: -7rem;
  padding-top: 25vw;
}


.circle1 {
  width: 110vw;
  height: 85vw;
  top: 3rem;
  margin-top: -3vw;
  right: -45%;
  z-index: -1;
}

.circle2 {
  width: 110vw;
  height: 85vw;
  top: 5rem;
  margin-top: 1vw;
  right: -50%;
  z-index: -2;
}

.circle3 {
  width: 110vw;
  height: 85vw;
  top: 7rem;
  margin-top: 5vw;
  right: -55%;
  z-index: -3;
}

}

