html, body {
  overflow-x: hidden;
}


.container {
  background-color: rgb(238, 232, 220);
  min-height: 185vh; 
  position: relative;
  z-index: -3;
  overflow-y: hidden;
  overflow-x: hidden;

  
}

.information {
  position: relative;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
}

.title {
  margin: 0px;
  color: rgb(39, 39, 39);         
  font-size: 150px;
  white-space: nowrap;
  text-align: right;
  padding-top: 13%;
  padding-right: 70px;

  font-family: 'PoppinsExtraLight';
  position: relative;
  z-index: 10;
  pointer-events: auto;
}

.subtitle {
  margin: -20px 0px;
  color: rgb(39, 39, 39);         
  font-size: 25px;
  max-width: 40%;
  text-align: right;
  margin-left:60%;
  padding-right: 90px;

  font-family: 'PoppinsExtraLight';
  z-index: 10;
  pointer-events: auto;

}


.information img {
  position: absolute;
  width: 950px; 
  height: 600px;
  border-radius: 10px;
  right: 52%;
  top: 30%;
  z-index: -9;
  opacity: 90%;

}

.subsubtitle {
  position: absolute;
  margin: -20px 0px;
  color: rgb(39, 39, 39);         
  font-size: 42px;
  max-width: 70%;
  text-align: left;
  margin-left:2%;
  padding: 110px ;

  font-family: 'PoppinsLight';
  z-index: 10;
  pointer-events: auto;
  border: 0px solid rgb(39, 39, 39);
  border-radius: 15px;


}




.experienceTitle {
  position: absolute;

  color: rgb(39, 39, 39);         
  font-size: 150px;
  text-align: right;
  margin-left:-14%;
  padding-left: 1200px;
  padding-right: 1100px;
  font-family: 'PoppinsLight';
  z-index: 9;
  pointer-events: auto;
  border-radius: 15px;
  border: 5px solid rgb(39, 39, 39);
}

.circle1 {
  width: 1100px;
  height: 700px;
  border-radius: 50%;
  background: rgb(238, 232, 220);
  position: absolute;
  top: 6%;
  right: -10%;
  z-index: -9;
  box-shadow: 0px 20px 20px rgba(128, 128, 128, 0.336);


}

.circle2 {
  width: 1100px;
  height: 600px;
  border-radius: 50%;
  background: rgb(238, 232, 220);
  position: absolute;
  top: 15%;
  right: -20%;
  z-index: -10;
  box-shadow: 0px 20px 20px rgba(128, 128, 128, 0.336);



}

.circle3 {
  width: 1100px;
  height: 600px;
  border-radius: 50%;
  background: rgb(238, 232, 220);
  position: absolute;
  top: 20%;
  right: -30%;
  z-index: -11;
  box-shadow: 0px 20px 20px rgba(128, 128, 128, 0.336);

}




@keyframes float {
  0%, 100% { transform: translateY(0px); }
  50% { transform: translateY(-20px); }
}



@media (max-width: 1800px) {
.container {
  background-color: rgb(238, 232, 220);
  min-height: 160vh; 
  position: relative;
  z-index: -3;
  overflow-y: hidden;
  overflow-x: hidden;

  
}

.information {
  position: relative;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
}

.title {
  margin: 0px;
  color: rgb(39, 39, 39);         
  font-size: 130px;
  white-space: nowrap;
  text-align: right;
  padding-top: 13%;
  padding-right: 50px;

  font-family: 'PoppinsExtraLight';
  position: relative;
  z-index: 10;
  pointer-events: auto;
}

.subtitle {
  margin: -20px 0px;
  color: rgb(39, 39, 39);         
  font-size: 20px;
  max-width: 40%;
  text-align: right;
  margin-left:60%;
  padding-right: 70px;

  font-family: 'PoppinsExtraLight';
  z-index: 10;
  pointer-events: auto;

}


.information img {
  position: absolute;
  width: 900px; 
  height: 550px;
  border-radius: 10px;
  right: 51%;
  top: 35%;
  z-index: -9;
  opacity: 90%;

}

.subsubtitle {
  position: absolute;
  margin: -10px 0px;
  color: rgb(39, 39, 39);         
  font-size: 35px;
  max-width: 60%;
  text-align: left;
  margin-left:0%;
  padding: 125px ;

  font-family: 'PoppinsLight';
  z-index: 10;
  pointer-events: auto;
  border: 0px solid rgb(39, 39, 39);
  border-radius: 15px;


}




.experienceTitle {
  position: absolute;

  color: rgb(39, 39, 39);         
  font-size: 130px;
  top: 475px;
  text-align: right;
  margin-left:-16%;
  padding-left: 1200px;
  padding-right: 1000px;
  font-family: 'PoppinsLight';
  z-index: 9;
  pointer-events: auto;
  border-radius: 15px;
  border: 5px solid rgb(39, 39, 39);
}

.circle1 {
  width: 1000px;
  height: 600px;
  border-radius: 50%;
  background: rgb(238, 232, 220);
  position: absolute;
  top: 6%;
  right: -14%;
  z-index: -9;
  box-shadow: 0px 20px 20px rgba(128, 128, 128, 0.336);


}

.circle2 {
  width: 1000px;
  height: 500px;
  border-radius: 50%;
  background: rgb(238, 232, 220);
  position: absolute;
  top: 17%;
  right: -21%;
  z-index: -10;
  box-shadow: 0px 20px 20px rgba(128, 128, 128, 0.336);



}

.circle3 {
  width: 1000px;
  height: 500px;
  border-radius: 50%;
  background: rgb(238, 232, 220);
  position: absolute;
  top: 22%;
  right: -28%;
  z-index: -11;
  box-shadow: 0px 20px 20px rgba(128, 128, 128, 0.336);

}
}


@media (max-width: 1500px) {
.container {
  background-color: rgb(238, 232, 220);
  min-height: 152.5vh; 
  position: relative;
  z-index: -3;
  overflow-y: hidden;
  overflow-x: hidden;

  
}

.information {
  position: relative;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
}

.title {
  margin: 0px;
  color: rgb(39, 39, 39);         
  font-size: 120px;
  white-space: nowrap;
  text-align: right;
  padding-top: 15%;
  padding-right: 40px;

  font-family: 'PoppinsExtraLight';
  position: relative;
  z-index: 10;
  pointer-events: auto;
}

.subtitle {
  margin: -20px 0px;
  color: rgb(39, 39, 39);         
  font-size: 18px;
  max-width: 40%;
  text-align: right;
  margin-left:60%;
  padding-right: 56px;

  font-family: 'PoppinsExtraLight';
  z-index: 10;
  pointer-events: auto;

}


.information img {
  position: absolute;
  width: 800px; 
  height: 480px;
  border-radius: 10px;
  right: 50%;
  top: 36%;
  z-index: -9;
  opacity: 90%;

}

.subsubtitle {
  position: absolute;
  margin: -10px 0px;
  color: rgb(39, 39, 39);         
  font-size: 27px;
  max-width: 60%;
  text-align: left;
  padding: 125px ;
  margin-left:-2%;

  font-family: 'PoppinsLight';
  z-index: 10;
  pointer-events: auto;
  border: 0px solid rgb(39, 39, 39);
  border-radius: 15px;


}




.experienceTitle {
  position: absolute;

  color: rgb(39, 39, 39);         
  font-size: 100px;
  top: 425px;
  text-align: right;
  margin-left:-16%;
  padding-left: 1050px;
  padding-right: 1000px;
  font-family: 'PoppinsLight';
  z-index: 9;
  pointer-events: auto;
  border-radius: 15px;
  border: 5px solid rgb(39, 39, 39);
}

.circle1 {
  width: 900px;
  height: 500px;
  border-radius: 50%;
  background: rgb(238, 232, 220);
  position: absolute;
  top: 9%;
  right: -16%;
  z-index: -9;
  box-shadow: 0px 20px 20px rgba(128, 128, 128, 0.336);


}

.circle2 {
  width: 900px;
  height: 400px;
  border-radius: 50%;
  background: rgb(238, 232, 220);
  position: absolute;
  top: 21%;
  right: -23%;
  z-index: -10;
  box-shadow: 0px 20px 20px rgba(128, 128, 128, 0.336);



}

.circle3 {
  width: 900px;
  height: 400px;
  border-radius: 50%;
  background: rgb(238, 232, 220);
  position: absolute;
  top: 25%;
  right: -30%;
  z-index: -11;
  box-shadow: 0px 20px 20px rgba(128, 128, 128, 0.336);

}

}


@media (max-width: 1300px) {
.container {
  background-color: rgb(238, 232, 220);
  min-height: 132vh; 
  position: relative;
  z-index: -3;
  overflow-y: hidden;
  overflow-x: hidden;

  
}

.information {
  position: relative;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
}

.title {
  margin: 0px;
  color: rgb(39, 39, 39);         
  font-size: 100px;
  white-space: nowrap;
  text-align: right;
  padding-top: 12%;
  padding-right: 40px;

  font-family: 'PoppinsExtraLight';
  position: relative;
  z-index: 10;
  pointer-events: auto;
}

.subtitle {
  margin: -20px 0px;
  color: rgb(39, 39, 39);         
  font-size: 14px;
  max-width: 40%;
  text-align: right;
  margin-left:60%;
  padding-right: 56px;

  font-family: 'PoppinsExtraLight';
  z-index: 10;
  pointer-events: auto;

}


.information img {
  position: absolute;
  width: 660px; 
  height: 420px;
  border-radius: 10px;
  right: 50%;
  top: 40%;
  z-index: -9;
  opacity: 90%;

}

.subsubtitle {
  position: absolute;
  margin: -10px 0px;
  color: rgb(39, 39, 39);         
  font-size: 22px;
  max-width: 60%;
  text-align: left;
  margin-left:-5%;
  padding: 125px ;

  font-family: 'PoppinsLight';
  z-index: 10;
  pointer-events: auto;
  border: 0px solid rgb(39, 39, 39);
  border-radius: 15px;


}




.experienceTitle {
  position: absolute;

  color: rgb(39, 39, 39);         
  font-size: 90px;
  top: 233px;
  text-align: right;
  margin-left:-16%;
  padding-left: 900px;
  padding-right: 1000px;
  font-family: 'PoppinsLight';
  z-index: 9;
  padding-top:5px;
  padding-bottom:5px;
  pointer-events: auto;
  border-radius: 15px;
  border: 5px solid rgb(39, 39, 39);
}

.circle1 {
  width: 800px;
  height: 400px;
  border-radius: 50%;
  background: rgb(238, 232, 220);
  position: absolute;
  top: 6%;
  right: -16%;
  z-index: -9;
  box-shadow: 0px 20px 20px rgba(128, 128, 128, 0.336);


}

.circle2 {
  width: 800px;
  height: 300px;
  border-radius: 50%;
  background: rgb(238, 232, 220);
  position: absolute;
  top: 18%;
  right: -23%;
  z-index: -10;
  box-shadow: 0px 20px 20px rgba(128, 128, 128, 0.336);



}

.circle3 {
  width: 800px;
  height: 300px;
  border-radius: 50%;
  background: rgb(238, 232, 220);
  position: absolute;
  top: 22%;
  right: -30%;
  z-index: -11;
  box-shadow: 0px 20px 20px rgba(128, 128, 128, 0.336);

}
}

@media (max-width: 1100px) {
.container {
  background-color: rgb(238, 232, 220);
  min-height: 118vh; 
  position: relative;
  z-index: -3;
  overflow-y: hidden;
  overflow-x: hidden;

  
}

.information {
  position: relative;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
}

.title {
  margin: 0px;
  color: rgb(39, 39, 39);         
  font-size: 80px;
  white-space: nowrap;
  text-align: right;
  padding-top: 13%;
  padding-right: 30px;

  font-family: 'PoppinsExtraLight';
  position: relative;
  z-index: 10;
  pointer-events: auto;
}

.subtitle {
  margin: -20px 0px;
  color: rgb(39, 39, 39);         
  font-size: 12px;
  max-width: 35%;
  text-align: right;
  margin-left:70%;
  padding-right: 43px;

  font-family: 'PoppinsExtraLight';
  z-index: 10;
  pointer-events: auto;

}


.information img {
  position: absolute;
  width: 540px; 
  height: 340px;
  border-radius: 10px;
  right: 55%;
  top: 30%;
  z-index: -9;
  opacity: 90%;

}

.subsubtitle {
  top: 250px;
  position: absolute;
  margin: -10px 0px;
  color: rgb(39, 39, 39);         
  font-size: 18px;
  max-width: 60%;
  text-align: left;
  margin-left:-5%;
  padding: 125px ;

  font-family: 'PoppinsLight';
  z-index: 10;
  pointer-events: auto;
  border: 0px solid rgb(39, 39, 39);
  border-radius: 15px;


}




.experienceTitle {
  position: absolute;

  color: rgb(39, 39, 39);         
  font-size: 80px;
  top: 103.5px;
  text-align: right;
  margin-left:-16%;
  padding-left: 750px;
  padding-right: 1000px;
  font-family: 'PoppinsLight';
  z-index: 9;
  padding-top:10px;
  padding-bottom:10px;
  pointer-events: auto;
  border-radius: 15px;
  border: 5px solid rgb(39, 39, 39);
}

.circle1 {
  width: 600px;
  height: 400px;
  border-radius: 50%;
  background: rgb(238, 232, 220);
  position: absolute;
  top: 3%;
  right: -16%;
  z-index: -9;
  box-shadow: 0px 20px 20px rgba(128, 128, 128, 0.336);


}

.circle2 {
  width: 600px;
  height: 300px;
  border-radius: 50%;
  background: rgb(238, 232, 220);
  position: absolute;
  top: 15%;
  right: -23%;
  z-index: -10;
  box-shadow: 0px 20px 20px rgba(128, 128, 128, 0.336);



}

.circle3 {
  width: 600px;
  height: 300px;
  border-radius: 50%;
  background: rgb(238, 232, 220);
  position: absolute;
  top: 19%;
  right: -30%;
  z-index: -11;
  box-shadow: 0px 20px 20px rgba(128, 128, 128, 0.336);

}
}


@media (max-width: 900px) {
.container {
  background-color: rgb(238, 232, 220);
  min-height: 97vh; 
  position: relative;
  z-index: -3;
  overflow-y: hidden;
  overflow-x: hidden;

  
}

.information {
  position: relative;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
}

.title {
  margin: 0px;
  color: rgb(39, 39, 39);         
  font-size: 60px;
  white-space: nowrap;
  text-align: right;
  padding-top: 15%;
  padding-right: 30px;

  font-family: 'PoppinsExtraLight';
  position: relative;
  z-index: 10;
  pointer-events: auto;
}

.subtitle {
  margin: -20px 0px;
  color: rgb(39, 39, 39);         
  font-size: 9px;
  max-width: 35%;
  text-align: right;
  margin-left:70%;
  padding-right: 43px;

  font-family: 'PoppinsExtraLight';
  z-index: 10;
  pointer-events: auto;

}


.information img {
  position: absolute;
  width: 500px; 
  height: 300px;
  border-radius: 10px;
  right: 50%;
  top: 37%;
  z-index: -9;
  opacity: 90%;

}

.subsubtitle {
  top: 170px;
  position: absolute;
  margin: -10px 0px;
  color: rgb(39, 39, 39);         
  font-size: 14px;
  max-width: 60%;
  text-align: left;
  margin-left:-5%;
  padding: 125px ;

  font-family: 'PoppinsLight';
  z-index: 10;
  pointer-events: auto;
  border: 0px solid rgb(39, 39, 39);
  border-radius: 15px;


}




.experienceTitle {
  position: absolute;

  color: rgb(39, 39, 39);         
  font-size: 60px;
  top: -94px;
  text-align: right;
  margin-left:-16%;
  padding-left: 600px;
  padding-right: 1000px;
  font-family: 'PoppinsLight';
  z-index: 9;
  padding-top:25px;
  padding-bottom:25px;
  pointer-events: auto;
  border-radius: 15px;
  border: 5px solid rgb(39, 39, 39);
}

.circle1 {
  width: 500px;
  height: 300px;
  border-radius: 50%;
  background: rgb(238, 232, 220);
  position: absolute;
  top: 7%;
  right: -16%;
  z-index: -9;
  box-shadow: 0px 20px 20px rgba(128, 128, 128, 0.336);


}

.circle2 {
  width: 500px;
  height: 200px;
  border-radius: 50%;
  background: rgb(238, 232, 220);
  position: absolute;
  top: 21%;
  right: -23%;
  z-index: -10;
  box-shadow: 0px 20px 20px rgba(128, 128, 128, 0.336);



}

.circle3 {
  width: 500px;
  height: 200px;
  border-radius: 50%;
  background: rgb(238, 232, 220);
  position: absolute;
  top: 24%;
  right: -30%;
  z-index: -11;
  box-shadow: 0px 20px 20px rgba(128, 128, 128, 0.336);

}
}


@media (max-width: 650px) {
.container {
  background-color: rgb(238, 232, 220);
  min-height: 81vh; 
  position: relative;
  z-index: -3;
  overflow-y: hidden;
  overflow-x: hidden;

  
}

.information {
  position: relative;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
}

.title {
  margin: 0px;
  color: rgb(39, 39, 39);         
  font-size: 40px;
  white-space: nowrap;
  text-align: right;
  padding-top: 15%;
  padding-right: 20px;

  font-family: 'PoppinsExtraLight';
  position: relative;
  z-index: 10;
  pointer-events: auto;
}

.subtitle {
  margin: -10px 0px;
  color: rgb(39, 39, 39);         
  font-size: 7px;
  max-width: 35%;
  text-align: right;
  margin-left:70%;
  padding-right: 26px;

  font-family: 'PoppinsExtraLight';
  z-index: 10;
  pointer-events: auto;

}


.information img {
  position: absolute;
  width: 340px; 
  height: 200px;
  border-radius: 10px;
  right: 52%;
  top: 40%;
  z-index: -9;
  opacity: 90%;

}

.subsubtitle {
  top: 120px;
  position: absolute;
  margin: -10px 0px;
  color: rgb(39, 39, 39);         
  font-size: 10px;
  max-width: 60%;
  text-align: left;
  margin-left:-5%;
  padding: 75px ;

  font-family: 'PoppinsLight';
  z-index: 10;
  pointer-events: auto;
  border: 0px solid rgb(39, 39, 39);
  border-radius: 15px;


}




.experienceTitle {
  position: absolute;

  color: rgb(39, 39, 39);         
  font-size: 40px;
  top: -254px;
  text-align: right;
  margin-left:-16%;
  padding-left: 460px;
  padding-right: 1000px;
  font-family: 'PoppinsLight';
  z-index: 9;
  padding-top:45px;
  padding-bottom:45px;
  pointer-events: auto;
  border-radius: 15px;
  border: 5px solid rgb(39, 39, 39);
}

.circle1 {
  width: 400px;
  height: 200px;
  border-radius: 50%;
  background: rgb(238, 232, 220);
  position: absolute;
  top: 9%;
  right: -16%;
  z-index: -9;
  box-shadow: 0px 20px 20px rgba(128, 128, 128, 0.336);


}

.circle2 {
  width: 400px;
  height: 150px;
  border-radius: 50%;
  background: rgb(238, 232, 220);
  position: absolute;
  top: 20%;
  right: -22%;
  z-index: -10;
  box-shadow: 0px 20px 20px rgba(128, 128, 128, 0.336);



}

.circle3 {
  width: 400px;
  height: 150px;
  border-radius: 50%;
  background: rgb(238, 232, 220);
  position: absolute;
  top: 24%;
  right: -28%;
  z-index: -11;
  box-shadow: 0px 20px 20px rgba(128, 128, 128, 0.336);

}

}

@media (max-width: 580px) {

.container {
  background-color: rgb(238, 232, 220);
  min-height: 68vh; 
  position: relative;
  z-index: -3;
  overflow-y: hidden;
  overflow-x: hidden;

  
}

.information {
  position: relative;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
}

.title {
  margin: 0px;
  color: rgb(39, 39, 39);         
  font-size: 30px;
  white-space: nowrap;
  text-align: right;
  padding-top: 15%;
  padding-right: 15px;

  font-family: 'PoppinsExtraLight';
  position: relative;
  z-index: 10;
  pointer-events: auto;
}

.subtitle {
  margin: -5px 0px;
  color: rgb(39, 39, 39);         
  font-size: 5px;
  max-width: 35%;
  text-align: right;
  margin-left:70%;
  padding-right: 20px;

  font-family: 'PoppinsExtraLight';
  z-index: 10;
  pointer-events: auto;

}


.information img {
  position: absolute;
  width: 260px; 
  height: 160px;
  border-radius: 10px;
  right: 56%;
  top: 42%;
  z-index: -9;
  opacity: 90%;

}

.subsubtitle {
  top: 50px;
  position: absolute;
  margin: -10px 0px;
  color: rgb(39, 39, 39);         
  font-size: 8px;
  max-width: 60%;
  text-align: left;
  margin-left:-5%;
  padding: 75px ;

  font-family: 'PoppinsLight';
  z-index: 10;
  pointer-events: auto;
  border: 0px solid rgb(39, 39, 39);
  border-radius: 15px;


}




.experienceTitle {
  position: absolute;

  color: rgb(39, 39, 39);         
  font-size: 40px;
  top: -380px;
  text-align: right;
  margin-left:-16%;
  padding-left: 380px;
  padding-right: 1000px;
  font-family: 'PoppinsLight';
  z-index: 9;
  padding-top:50px;
  padding-bottom:50px;
  pointer-events: auto;
  border-radius: 15px;
  border: 5px solid rgb(39, 39, 39);
}

.circle1 {
  width: 300px;
  height: 150px;
  border-radius: 50%;
  background: rgb(238, 232, 220);
  position: absolute;
  top: 9%;
  right: -16%;
  z-index: -9;
  box-shadow: 0px 20px 20px rgba(128, 128, 128, 0.336);


}

.circle2 {
  width: 300px;
  height: 100px;
  border-radius: 50%;
  background: rgb(238, 232, 220);
  position: absolute;
  top: 20%;
  right: -24%;
  z-index: -10;
  box-shadow: 0px 20px 20px rgba(128, 128, 128, 0.336);



}

.circle3 {
  width: 300px;
  height: 100px;
  border-radius: 50%;
  background: rgb(238, 232, 220);
  position: absolute;
  top: 24%;
  right: -30%;
  z-index: -11;
  box-shadow: 0px 20px 20px rgba(128, 128, 128, 0.336);

}
}