html, body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-family: 'PoppinsLight', sans-serif;
}

.container {
  background-color: rgb(238, 232, 220);
  min-height: 60vw;
  box-sizing: border-box;
  position: relative;
  z-index: -10;
  overflow-x: hidden;
}

.information {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
  z-index: 10;
}

.title {
  position: relative;
  font-size: clamp(2.5rem, 8vw, 8rem);
  text-align: right;
  margin-top: 13vw;
  margin-right: 4vh;
  color: rgb(39, 39, 39);
  font-family: 'PoppinsExtraLight', sans-serif;
}

.subtitle {
  font-size: clamp(0.7rem, 1vw, 1.1rem);
  text-align: right;
  margin-top: -7.5vw;
  margin-right: 3vw;
  width: 44vw;
  color: rgb(39, 39, 39);
}

.information img {
  width: clamp(40vw, 55vw, 100vw);
  height: auto;
  border-radius: 10px;
  position: absolute;
  top: 15vh;
  right: 48vw;
  align-self: flex-start;
  z-index: -1;
  opacity: 0.9;
}

.subsubtitle {
  font-size: clamp(1rem, 2vw, 2rem);
  max-width: 80%;
  top: 20vw;
  text-align: left;
  right: 17vw;
  color: rgb(39, 39, 39);
  background: transparent;
  border-radius: 15px;
  position: relative;
  z-index: 10;
}

.experienceTitle {
  position: relative;
  font-size: clamp(2rem, 8vw, 6rem);
  text-align: center;
  top: 10vw;
  padding-bottom: 4%;
  padding-right: 5%;
  border-radius: 15px;
  color: rgb(39, 39, 39);
  font-family: 'PoppinsLight';
  z-index: 9;
}

.circle1, .circle2, .circle3 {
  position: absolute;
  border-radius: 50%;
  background: rgb(238, 232, 220);
  box-shadow: 0px 20px 20px rgba(128, 128, 128, 0.336);
}

.circle1 {
  width: 70vw;
  height: 40vw;
  top: 2%;
  right: -10%;
  z-index: -1;
}

.circle2 {
  width: 60vw;
  height: 40vw;
  top: 7%;
  right: -7%;
  z-index: -2;
}

.circle3 {
  width: 60vw;
  height: 40vw;
  top: 12%;
  right: -12%;
  z-index: -3;
}

/* Optional animation */
@keyframes float {
  0%, 100% { transform: translateY(0px); }
  50% { transform: translateY(-20px); }
}