html, body {
  overflow-x: hidden;
}


.container {
  background-color: rgb(39, 39, 39);
  min-height: 110vh; 
  position: relative;
  z-index: 10;
  overflow-x: hidden;
  overflow-y: hidden;

  
}

.information {
  position: relative;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
}

.title {
  left: 5.5%;
  top: -5%;
  position: absolute;
  color: rgb(221, 217, 207) ;         
  font-size: clamp(2rem, 12vw, 9.375rem);
  white-space: nowrap;
  font-family: 'PoppinsExtraLight';
  z-index: 10;


}

.cover {
    position: absolute;
    background-color: rgba(29, 29, 29, 0.747);
    border-radius: 30px;
    width: 88%;
    height: 28.75rem;
    z-index: 9;
    left: 5.5%;
    top: 32%;
}

.subtitle {
  top: -5%;
  left: 3.3%;
  position: absolute;
  color: rgb(245, 239, 227) ; 
  white-space: nowrap;        
  font-size: clamp(1.8rem, 5vw, 4.375rem);
  text-align: left;
  font-family: 'PoppinsExtraLight';
  z-index: 10;
  border-radius: 30px;


}

.link {
    top: 64%;
    left:-34%;
    position: absolute;
    cursor: pointer;
    font-family: 'PoppinsExtraLight';
    z-index: 20;
    font-size: clamp(1rem, 2.5vw, 1.875rem);
    width: 50%;
    margin-top: 15px;
    margin-left: 39%;
    align-items: center;
    color: rgb(250, 241, 224);
    text-decoration: none;
    background-color: rgb(39, 39, 39);
    padding: 20px 20px;
    border-radius: 30px;
    transition: all 0.3s ease;  
}

.link:hover {
    box-shadow: 0px 0px 10px rgba(250, 241, 224, 0.548);
    transform: scale(1.05);
    background-color: rgb(39, 39, 39);
}

.link:active {
    box-shadow: 0px 0px 20px rgba(20, 20, 20, 0.671);
    background-color: rgb(17, 17, 17);
    
}

.subsubtitle {
  top: 28%;
  left: 3.3%;
  position: absolute;
  color: rgb(245, 239, 227) ;         
  font-size: clamp(1rem, 2vw, 1.4375rem);
  max-width: 1300px;
  text-align: left;
  padding-left: 35px;
  font-family: 'PoppinsExtraLight';
  z-index: 10;

}




.video {
    pointer-events: none; 
    width: 100%;
    filter: brightness(20%);
    opacity: 60%;
    z-index: 1;
}



@media (max-width: 1580px) {
.title {
  left: 7%;
  top:4%;       
  font-size: clamp(1.8rem, 8vw, 9.375rem);
}

.cover {
    width: 88%;
    height: 21rem;
    left: 6%;
    top: 32%;
}


.subtitle {
  top: -1%;
  left: 3.5vw;
  white-space:inherit;  
  line-height: 1;      
  font-size: clamp(1.5rem, 4vw, 4.375rem);
}

.subsubtitle {
  top: 6rem;
  left: 3vw;       
  font-size: clamp(0.8rem, 1.3vw, 1.4375rem);
  max-width: 70vw;
  padding-left: 35px;

}

.link {
    top: 10rem;
    left:-33%;
    font-size: clamp(1rem, 1.8vw, 1.875rem);
    width: 60%;
    line-height: 1.3;
    margin-top: 6%;
    margin-left: 39%;
    padding: 2.3vh 0.1vw;
    border-radius: 20px;
 
}

.video {
    margin-top: 4%;
    width: 125%;
    filter: brightness(20%);
    opacity: 60%;
    z-index: 1;
}

}

@media (max-width: 1280px) {
.title {
  left: 7%;
  top:4%;       
  font-size: clamp(1.8rem, 9vw, 9.375rem);
}

.cover {
    width: 88%;
    height: 26rem;
    left: 6%;
    top: 29%;
}


.subtitle {
  top: -1%;
  left: 3.5vw;
  white-space:inherit;  
  line-height: 1;      
  font-size: clamp(1.7rem, 4.5vw, 4.375rem);
}

.subsubtitle {
  top: 6rem;
  left: 2vw;       
  font-size: clamp(0.8rem, 1.7vw, 1.4375rem);
  max-width: 70vw;
  padding-left: 35px;

}

.link {
    top: 15rem;
    left:-34%;
    font-size: clamp(1rem, 2.3vw, 1.875rem);
    width: 60%;
    line-height: 1.3;
    margin-top: 6%;
    margin-left: 39%;
    padding: 2vh 3vw;
    border-radius: 20px;
 
}

.video {
    margin-top: 4%;
    width: 155%;
    filter: brightness(20%);
    opacity: 60%;
    z-index: 1;
}
}




@media (max-width: 1024px) {
.container {

  min-height: 100vh; 

  
}

.title {
  left: 6%;
  top:10%;       
  font-size: clamp(2rem, 10vw, 9.375rem);
}

.cover {
    width: 88%;
    height: 25rem;
    left: 6%;
    top: 31%;
}


.subtitle {
  top: -1%;
  left: 3.5vw;
  white-space:inherit;  
  line-height: 1;      
  font-size: clamp(2rem, 5vw, 4.375rem);
}

.subsubtitle {
  top: 4.5rem;
  left: 0vw;       
  font-size: clamp(1rem, 2vw, 1.4375rem);
  max-width: 70vw;
  padding-left: 35px;

}

.link {
    top: 14rem;
    left:-34%;
    font-size: clamp(1rem, 2.5vw, 1.875rem);
    width: 60%;
    line-height: 1.3;
    margin-top: 6%;
    margin-left: 39%;
    padding: 2vh 4vw;
    border-radius: 20px;
 
}

.video {
    margin-top: 5%;
    width: 185%;
    filter: brightness(20%);
    opacity: 60%;
    z-index: 1;
}
}






@media (max-width: 768px) {
.container {
  padding-top: 0.7vh;
  min-height: 100vh; 

  
}

.title {
  left: 6%;
  top:10%;       
  font-size: clamp(5rem, 12vw, 9.375rem);
}

.cover {
    width: 88%;
    height: 32rem;
    left: 6%;
    top: 31%;
}


.subtitle {
  top: -5%;
  left: 3.5vw;
  white-space:inherit;  
  line-height: 1;      
  font-size: clamp(3rem, 5vw, 4.375rem);
}

.subsubtitle {
  top: 21%;
  left: -1vw;       
  font-size: clamp(1.2rem, 2vw, 1.4375rem);
  max-width: 70vw;
  padding-left: 35px;

}

.link {
    top: 22rem;
    left:-34%;
    font-size: clamp(1.5rem, 2.5vw, 1.875rem);
    width: 60%;
    line-height: 1.3;
    margin-top: 6%;
    margin-left: 39%;
    padding: 2vh 4vw;
    border-radius: 20px;
 
}

.video {
    margin-top: 10%;
    width: 245%;
    filter: brightness(20%);
    opacity: 60%;
    z-index: 1;
}
}





@media (max-width: 650px) {
.container {
  padding-top: 4.5vh;
  min-height: 100vh; 

  
}

.title {
  left: 9%;
  top: 11%;       
  font-size: clamp(4rem, 12vw, 9.375rem);
}

.cover {
    width: 88%;
    height: 32rem;
    left: 6%;
    top: 30%;
}


.subtitle {
  top: -3%;
  left: 5vw;
  white-space:inherit;  
  line-height: 1;      
  font-size: clamp(2.6rem, 5vw, 4.375rem);
}

.subsubtitle {
  top: 20%;
  left: -1vw;       
  font-size: clamp(1rem, 2vw, 1.4375rem);
  max-width: 70vw;
  padding-left: 35px;

}

.link {
    top: 23rem;
    left:-30%;
    font-size: clamp(1rem, 2.5vw, 1.875rem);
    width: 60%;
    line-height: 1.3;
    margin-top: 6%;
    margin-left: 39%;
    padding: 3vh 6vw;
    border-radius: 20px;
 
}

.video {
    margin-top: 10%;
    width: 305%;
    margin-left:-80%;
    filter: brightness(20%);
    opacity: 60%;
    z-index: 1;
}

}




@media (max-width: 450px) {

.container {
  padding-top: 6vh;
  min-height: 100vh; 

  
}


.title {
  left: 9%;
  top: 10%;       
  font-size: clamp(3.5rem, 12vw, 9.375rem);
}

.cover {
    width: 88%;
    height: 30rem;
    left: 6%;
    top: 26%;
}


.subtitle {
  top: -3%;
  left: 6%;
  white-space:inherit;  
  line-height: 1;      
  font-size: clamp(2.1rem, 5vw, 4.375rem);



}

.subsubtitle {
  top: 20%;
  left: -1%;       
  font-size: clamp(0.9rem, 2vw, 1.4375rem);
  max-width: 70vw;
  padding-left: 35px;

}

.link {
    top: 22.5rem;
    left:-12.5vh;
    font-size: clamp(0.8rem, 2.5vw, 1.875rem);
    width: 50%;
    margin-top: 6%;
    margin-left: 39%;
    padding: 1.5vh 5vw;
    border-radius: 20px;
 
}

.video {
    margin-top: 10%;
    width: 375%;
    margin-left:-80%;
    filter: brightness(20%);
    opacity: 60%;
    z-index: 1;
}

}

