html, body {
  overflow-x: hidden;
}


.container {
  background-color: rgb(39, 39, 39);
  min-height: 110vh; 
  position: relative;
  z-index: 10;
  overflow-x: hidden;
  overflow-y: hidden;

  
}

.information {
  position: relative;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
}

.title {
  font-weight: bold;
  left: 5.5%;
  top: -5%;
  position: absolute;
  color: rgb(221, 217, 207) ;         
  font-size: clamp(2rem, 12vw, 9.375rem);
  white-space: nowrap;
  font-family: 'PoppinsExtraLight';
  z-index: 10;
  text-shadow: 0px 0px 10px rgb(22, 22, 22);

}

.cover {
    position: absolute;
    background-color: rgba(29, 29, 29, 0.747);
    border-radius: 30px;
    width: 88%;
    height: 28.75rem;
    z-index: 9;
    left: 5.5%;
    top: 32%;
}

.subtitle {
  top: -5%;
  left: 3.3%;
  position: absolute;
  color: rgb(245, 239, 227) ; 
  white-space: nowrap;        
  font-size: clamp(1.8rem, 5vw, 4.375rem);
  text-align: left;
  font-family: 'PoppinsExtraLight';
  z-index: 10;
  border-radius: 30px;


}

.link {
    top: 64%;
    left:-34%;
    position: absolute;
    cursor: pointer;
    font-family: 'PoppinsExtraLight';
    z-index: 20;
    font-size: clamp(1rem, 2.5vw, 1.875rem);
    width: 50%;
    margin-top: 15px;
    margin-left: 39%;
    align-items: center;
    color: rgb(250, 241, 224);
    text-decoration: none;
    background-color: rgb(39, 39, 39);
    padding: 20px 20px;
    border-radius: 30px;
    transition: all 0.3s ease;  
}

.link:hover {
    box-shadow: 0px 0px 10px rgba(250, 241, 224, 0.548);
    transform: scale(1.05);
    background-color: rgb(39, 39, 39);
}

.link:active {
    box-shadow: 0px 0px 20px rgba(20, 20, 20, 0.671);
    background-color: rgb(17, 17, 17);
    
}

.subsubtitle {
  top: 28%;
  left: 3.3%;
  position: absolute;
  color: rgb(245, 239, 227) ;         
  font-size: clamp(1rem, 2vw, 1.4375rem);
  max-width: 1300px;
  text-align: left;
  padding-left: 35px;
  font-family: 'PoppinsExtraLight';
  z-index: 10;

}




.video {
    pointer-events: none; 
    width: 100%;
    filter: brightness(20%);
    opacity: 60%;
    z-index: 1;
}



@media (max-width: 1480px) {


}

@media (max-width: 1280px) {

}




@media (max-width: 1024px) {

}






@media (max-width: 768px) {

}





@media (max-width: 650px) {


}




@media (max-width: 450px) {

.container {
  padding-top: 6vh;
  min-height: 100vh; 

  
}


.title {
  left: 9%;
  top: 15%;       
  font-size: clamp(3.5rem, 12vw, 9.375rem);
}

.cover {
    width: 88%;
    height: 30.75rem;
    left: 6%;
    top: 32%;
}


.subtitle {
  top: -3%;
  left: 6%;
  white-space:inherit;  
  line-height: 1;      
  font-size: clamp(2.1rem, 5vw, 4.375rem);



}

.subsubtitle {
  top: 20%;
  left: -1%;       
  font-size: clamp(0.9rem, 2vw, 1.4375rem);
  max-width: 240px;
  padding-left: 35px;

}

.link {
    top: 75%;
    left:-34%;
    font-size: clamp(0.8rem, 2.5vw, 1.875rem);
    width: 50%;
    margin-top: 15px;
    margin-left: 39%;
    padding: 10px 50px;
    border-radius: 20px;
 
}

.video {
    margin-top: 10%;
    width: 360%;
    filter: brightness(20%);
    opacity: 60%;
    z-index: 1;
}

}

