html,body {
    margin: 0px;
    font-family: 'PoppinsExtraLight';
    text-align: center;


}




.navbarContainer {
    position: fixed;
    z-index: 20;
    justify-content: center;
    display: flex;
    gap: 120px;
    background-color: rgb(26, 25, 25);
    width: 100%;
    box-sizing: border-box; 
    padding: 15px 300px;

}

#name {
    margin: 0px 0px;
    margin-right:500px;
    padding: 0px 0px;
    white-space: nowrap;
    font-family: 'PoppinsExtraLight';
    font-weight: bold;
    font-size:20px;
    color: rgb(250, 241, 224);
    text-decoration: none;
    transition: all 0.3s ease;  
}

#name:hover {
    text-shadow:0px 0px 20px rgba(250, 241, 224, 0.548);

}

.navbar {

    cursor: pointer;
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-size:15px;
    color: rgb(250, 241, 224);
    text-decoration: none;
    background-color: rgb(39, 39, 39);
    padding: 5px 30px;
    border-radius: 30px;
    transition: all 0.3s ease;
}

.navbar:hover {
    box-shadow: 0px 0px 20px rgba(250, 241, 224, 0.548);
    transform: scale(1.05);
    background-color: rgb(39, 39, 39);
    
}

.navbar:active {
    box-shadow: 0px 0px 20px rgba(20, 20, 20, 0.671);
    background-color: rgb(17, 17, 17);
    
}


.board {
    display: flex;
    flex-direction: column; 
    position: fixed;
    z-index: 12;
    width: 100%;
    margin-top: -300px;
    border-radius: 200px;
    background-color: rgb(22, 22, 22);
    height:600px;
    transition: all 1s ease;
    overflow: hidden;

}

.about {
    margin:2px;
    color: aliceblue;
    font-size: 17px;
    padding-right: 0.5%;
    font-family: 'PoppinsExtraLight';
}

.moreAbout {
    cursor: pointer;
    font-family: 'PoppinsExtraLight';
    font-size:20px;
    width: 20%;
    margin-top: 15px;
    margin-left: 39%;
    align-items: center;
    color: rgb(250, 241, 224);
    text-decoration: none;
    background-color: rgb(39, 39, 39);
    padding: 10px 10px;
    border-radius: 30px;
    transition: all 0.3s ease; 
}

.contact {
    padding-top: 5px;
    margin:2px;
    color: aliceblue;
    font-size: 17px;
    padding-right: 0.5%;
    font-family: 'PoppinsExtraLight';
}

.moreContact {
    padding-top: 20px;
    cursor: pointer;
    font-family: 'PoppinsExtraLight';
    font-size:20px;
    width: 20%;
    margin-top: 15px;
    margin-left: 39%;
    align-items: center;
    color: rgb(250, 241, 224);
    text-decoration: none;
    background-color: rgb(39, 39, 39);
    padding: 10px 10px;
    border-radius: 30px;
    transition: all 0.3s ease; 
}

.moreContact:hover {
    box-shadow: 0px 0px 10px rgba(250, 241, 224, 0.548);
    transform: scale(1.05);
    background-color: rgb(39, 39, 39);
}

.moreContact:active {
    box-shadow: 0px 0px 20px rgba(20, 20, 20, 0.671);
    background-color: rgb(17, 17, 17);
    
}

.moreAbout:hover {
    box-shadow: 0px 0px 10px rgba(250, 241, 224, 0.548);
    transform: scale(1.05);
    background-color: rgb(39, 39, 39);
}

.moreAbout:active {
    box-shadow: 0px 0px 20px rgba(20, 20, 20, 0.671);
    background-color: rgb(17, 17, 17);
    
}


.navbarAbout {
  background-color: rgb(197, 191, 182); 
  transition: background-color 0.5s ease-in-out;
}


.navbarAbout #name {
    margin: 0px 0px;
    margin-right:500px;
    padding: 0px 0px;
    white-space: nowrap;
    font-family: 'PoppinsExtraLight';
    font-weight: bold;
    font-size:20px;
    color: rgb(17, 17, 17);
    text-decoration: none;
    transition: all 0.3s ease;  
}

.navbarAbout #name:hover {
    text-shadow:0px 0px 20px rgb(17, 17, 17);

}



.navbarAbout .navbar {

    cursor: pointer;
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-size:15px;
    color: rgb(39, 39, 39);
    text-decoration: none;
    background-color: rgb(250, 241, 224);
    padding: 5px 30px;
    border-radius: 30px;
    transition: all 0.3s ease;
}

.navbarAbout .navbar:hover {
    box-shadow: 0px 0px 20px rgba(39, 39, 39, 0.493);
    transform: scale(1.05);
    background-color:rgba(250, 241, 224, 0.548) ;
    
}

.navbarAbout .navbar:active {
    box-shadow: 0px 0px 20px rgba(250, 241, 224, 0.548);
    background-color: rgb(255, 253, 248);
    
}



.boardAbout {
    display: flex;
    flex-direction: column; 
    position: fixed;
    z-index: 1;
    width: 100%;
    margin-top: -300px;
    border-radius: 200px;
    background-color: rgb(163, 159, 152);
    height:600px;
    transition: all 1s ease;
    overflow: hidden;

}

.boardAbout .about {
    margin:2px;
    font-weight: bold;
    color: rgb(39, 39, 39);
    font-size: 17px;
    padding-right: 0.5%;
    font-family: 'PoppinsExtraLight';
}

.boardAbout .moreAbout {
    cursor: pointer;
    font-family: 'PoppinsExtraLight';
    font-size:20px;
    width: 20%;
    margin-top: 15px;
    margin-left: 39%;
    align-items: center;
    color: rgb(39, 39, 39);
    text-decoration: none;
    background-color: rgba(250, 241, 224, 0.548);
    padding: 10px 10px;
    border-radius: 30px;
    transition: all 0.3s ease; 
}

.boardAbout .moreAbout:hover {
    box-shadow: 0px 0px 10px rgb(39, 39, 39);
    transform: scale(1.05);
    background-color: rgb(250, 241, 224);
}

.boardAbout .moreAbout:active {
    box-shadow: 0px 0px 20px rgba(250, 241, 224, 0.548);
    background-color: rgb(255, 253, 248);
    
}

.boardAbout .contact {
    font-weight: bold;
    padding-top: 5px;
    margin:2px;
    color: rgb(39, 39, 39);
    font-size: 17px;
    padding-right: 0.5%;
    font-family: 'PoppinsExtraLight';
}

.boardAbout .moreContact {
    padding-top: 20px;
    cursor: pointer;
    font-family: 'PoppinsExtraLight';
    font-size:20px;
    width: 20%;
    margin-top: 15px;
    margin-left: 39%;
    align-items: center;
    color: rgb(39, 39, 39);
    text-decoration: none;
    background-color: rgba(250, 241, 224, 0.548);
    padding: 10px 10px;
    border-radius: 30px;
    transition: all 0.3s ease; 
}

.boardAbout .moreContact:hover {
    box-shadow: 0px 0px 10px rgb(39, 39, 39);
    transform: scale(1.05);
    background-color: rgb(250, 241, 224);
}

.boardAbout .moreContact:active {
    box-shadow: 0px 0px 20px rgba(250, 241, 224, 0.548);
    background-color: rgb(255, 253, 248);
    
}

@media (max-width: 1800px) {

  .navbarContainer {
    position: fixed;
    z-index: 20;
    justify-content: center;
    display: flex;
    gap: 60px;
    background-color: rgb(26, 25, 25);
    width: 100%;
    box-sizing: border-box; 
    padding: 15px 200px;

    }
  #name {
    margin: 0px 0px;
    margin-right:300px;
    padding: 0px 0px;
    white-space: nowrap;
    font-family: 'PoppinsExtraLight';
    font-weight: bold;
    font-size:20px;
    color: rgb(250, 241, 224);
    text-decoration: none;
    transition: all 0.3s ease;  
    }

    .navbarAbout {
        position: fixed;
        z-index: 20;
        justify-content: center;
        display: flex;
        gap: 60px;
        width: 100%;
        box-sizing: border-box; 
        padding: 15px 200px;
        background-color: rgb(197, 191, 182); 
        transition: background-color 0.5s ease-in-out;
    }

    .boardAbout {
        display: flex;
        flex-direction: column; 
        position: fixed;
        z-index: 1;
        width: 100%;
        margin-top: -300px;
        border-radius: 200px;
        background-color: rgb(163, 159, 152);
        height:600px;
        transition: all 1s ease;
        overflow: hidden;

    }
    .navbarAbout #name {
    margin: 0px 0px;
    margin-right:300px;
    padding: 0px 0px;
    white-space: nowrap;
    font-family: 'PoppinsExtraLight';
    font-weight: bold;
    font-size:20px;
    color: rgb(17, 17, 17);
    text-decoration: none;
    transition: all 0.3s ease;  
}

    .navbarAbout .navbar {

    cursor: pointer;
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-size:15px;
    color: rgb(39, 39, 39);
    text-decoration: none;
    background-color: rgb(250, 241, 224);
    padding: 5px 30px;
    border-radius: 30px;
    transition: all 0.3s ease;
}
}


@media (max-width: 1300px) {
  .navbarContainer {
    position: fixed;
    z-index: 20;
    justify-content: center;
    display: flex;
    gap: 20px;
    background-color: rgb(26, 25, 25);
    width: 100%;
    box-sizing: border-box; 
    padding: 15px 100px;

    }
  #name {
    margin: 0px 0px;
    margin-right:100px;
    padding: 0px 0px;
    white-space: nowrap;
    font-family: 'PoppinsExtraLight';
    font-weight: bold;
    font-size:20px;
    color: rgb(250, 241, 224);
    text-decoration: none;
    transition: all 0.3s ease;  
    }

    .board {
    
    display: flex;
    flex-direction: column; 
    position: fixed;
    z-index: 12;
    width: 100%;
    margin-top: -300px;
    border-radius: 200px;
    background-color: rgb(22, 22, 22);
    height:560px;
    transition: all 1s ease;
    overflow: hidden;

    }

    .about {
        margin:2px;
        color: aliceblue;
        font-size: 13px;
        padding-right: 0.5%;
        font-family: 'PoppinsExtraLight';
    }

    .contact {
        padding-top: 3px;
        margin:2px;
        color: aliceblue;
        font-size: 13px;
        padding-right: 0.5%;
        font-family: 'PoppinsExtraLight';
    }
    .navbarAbout {
        position: fixed;
        z-index: 20;
        justify-content: center;
        display: flex;
        gap: 20px;
        background-color: rgb(197, 191, 182); 
        transition: background-color 0.5s ease-in-out;
    }


    .navbarAbout #name {
    margin: 0px 0px;
    margin-right:100px;
    padding: 0px 0px;
    white-space: nowrap;
    font-family: 'PoppinsExtraLight';
    font-weight: bold;
    font-size:20px;
    color: rgb(17, 17, 17);
    text-decoration: none;
    transition: all 0.3s ease;  
}

    .navbarAbout .navbar {

    cursor: pointer;
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-size:15px;
    color: rgb(39, 39, 39);
    text-decoration: none;
    background-color: rgb(250, 241, 224);
    padding: 5px 30px;
    border-radius: 30px;
    transition: all 0.3s ease;
}


    .boardAbout {
    display: flex;
    flex-direction: column; 
    position: fixed;
    z-index: 12;
    width: 100%;
    margin-top: -300px;
    border-radius: 200px;
    background-color: rgb(163, 159, 152);
    height:560px;
    transition: all 1s ease;
    overflow: hidden;

}

    .boardAbout .about {
    margin:2px;
    font-weight: bold;
    color: rgb(39, 39, 39);
    font-size: 13px;
    padding-right: 0.5%;
    font-family: 'PoppinsExtraLight';
}

    .boardAbout .moreAbout {
    cursor: pointer;
    font-family: 'PoppinsExtraLight';
    font-size:20px;
    width: 20%;
    margin-top: 15px;
    margin-left: 39%;
    align-items: center;
    color: rgb(39, 39, 39);
    text-decoration: none;
    background-color: rgba(250, 241, 224, 0.548);
    padding: 10px 10px;
    border-radius: 30px;
    transition: all 0.3s ease; 


}
    .boardAbout .contact {
        font-weight: bold;
        padding-top: 3px;
        margin:2px;
        color: rgb(39, 39, 39);
        font-size: 13px;
        padding-right: 0.5%;
        font-family: 'PoppinsExtraLight';
    }
}

@media (max-width: 900px) {
  .navbarContainer {
    position: fixed;
    z-index: 20;
    justify-content: center;
    display: flex;
    gap: 20px;
    background-color: rgb(26, 25, 25);
    width: 100%;
    box-sizing: border-box; 
    padding: 15px 0px;

    }
  #name {
    margin: 0px 0px;
    margin-right:0px;
    padding: 0px 0px;
    white-space: nowrap;
    font-family: 'PoppinsExtraLight';
    font-weight: bold;
    font-size:20px;
    color: rgb(250, 241, 224);
    text-decoration: none;
    transition: all 0.3s ease;  
    }
    .navbar {

    cursor: pointer;
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    color: rgb(250, 241, 224);
    font-size:15px;
    text-decoration: none;
    background-color: rgb(39, 39, 39);
    padding: 5px 20px;
    border-radius: 30px;
    transition: all 0.3s ease;
    }

    .board {
    
    display: flex;
    flex-direction: column; 
    position: fixed;
    z-index: 12;
    width: 100%;
    margin-top: -300px;
    border-radius: 100px;
    background-color: rgb(22, 22, 22);
    height:520px;
    transition: all 1s ease;
    overflow: hidden;

    }

    .about {
        margin:2px;
        color: aliceblue;
        font-size: 10px;
        padding-right: 0.5%;
        font-family: 'PoppinsExtraLight';
    }

    .moreAbout {
        cursor: pointer;
        font-family: 'PoppinsExtraLight';
        font-size:10px;
        width: 20%;
        margin-top: 5px;
        margin-left: 39%;
        align-items: center;
        color: rgb(250, 241, 224);
        text-decoration: none;
        background-color: rgb(39, 39, 39);
        padding: 10px 10px;
        border-radius: 30px;
        transition: all 0.3s ease; 
    }



    
    .boardAbout .moreAbout {
    cursor: pointer;
    font-family: 'PoppinsExtraLight';
    font-size:10px;
    width: 20%;
    margin-top: 5px;
    margin-left: 39%;
    align-items: center;
    color: rgb(39, 39, 39);
    text-decoration: none;
    background-color: rgba(250, 241, 224, 0.548);
    padding: 10px 10px;
    border-radius: 30px;
    transition: all 0.3s ease; 
}
    .contact {
        padding-top: 0px;
        margin:2px;
        color: aliceblue;
        font-size: 10px;
        padding-right: 0.5%;
        font-family: 'PoppinsExtraLight';
    }

    .moreContact {
        padding-top: 10px;
        cursor: pointer;
        font-family: 'PoppinsExtraLight';
        font-size:10px;
        width: 20%;
        margin-top: 5px;
        margin-left: 39%;
        align-items: center;
        color: rgb(250, 241, 224);
        text-decoration: none;
        background-color: rgb(39, 39, 39);
        padding: 10px 10px;
        border-radius: 30px;
        transition: all 0.3s ease; 
    }


    .navbarAbout {
        position: fixed;
        z-index: 20;
        justify-content: center;
        display: flex;
        gap: 20px;
        background-color: rgb(197, 191, 182); 
        transition: background-color 0.5s ease-in-out;
    }


    .navbarAbout #name {
    margin: 0px 0px;
    margin-right:0px;
    padding: 0px 0px;
    white-space: nowrap;
    font-family: 'PoppinsExtraLight';
    font-weight: bold;
    font-size:20px;
    color: rgb(17, 17, 17);
    text-decoration: none;
    transition: all 0.3s ease;  
}

    .navbarAbout .navbar {

    cursor: pointer;
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    color: rgb(39, 39, 39);
    font-size:15px;
    text-decoration: none;
    padding: 5px 20px;
    border-radius: 30px;
    background-color: rgb(250, 241, 224);
    transition: all 0.3s ease;
}

    .boardAbout {
    display: flex;
    flex-direction: column; 
    position: fixed;
    z-index: 12;
    width: 100%;
    margin-top: -300px;
    border-radius: 100px;
    background-color: rgb(163, 159, 152);
    height:520px;
    transition: all 1s ease;
    overflow: hidden;

}

    .boardAbout .about {
    margin:2px;
    font-weight: bold;
    color: rgb(39, 39, 39);
    font-size: 10px;
    padding-right: 0.5%;
    font-family: 'PoppinsExtraLight';
}

    .boardAbout .moreAbout {
    cursor: pointer;
    font-family: 'PoppinsExtraLight';
    font-size:10px;
    width: 20%;
    margin-top: 5px;
    margin-left: 39%;
    align-items: center;
    color: rgb(39, 39, 39);
    text-decoration: none;
    background-color: rgba(250, 241, 224, 0.548);
    padding: 10px 10px;
    border-radius: 30px;
    transition: all 0.3s ease; 


}
    .boardAbout .contact {
        padding-top: 0px;
        margin:2px;
        font-size: 10px;
        font-weight: bold;
        color: rgb(39, 39, 39);
        font-size: 10px;
        padding-right: 0.5%;
        font-family: 'PoppinsExtraLight';
    }

    .boardAbout .moreContact {
        padding-top: 10px;
        cursor: pointer;
        font-family: 'PoppinsExtraLight';
        font-size:10px;
        width: 20%;
        margin-top: 5px;
        margin-left: 39%;
        align-items: center;
        color: rgb(39, 39, 39);
        text-decoration: none;
        background-color: rgba(250, 241, 224, 0.548);
        padding: 10px 10px;
        border-radius: 30px;
    }

}


@media (max-width: 640px) {
  .navbarContainer {
    position: fixed;
    z-index: 20;
    justify-content: center;
    display: flex;
    gap: 5px;
    background-color: rgb(26, 25, 25);
    width: 100%;
    box-sizing: border-box; 
    padding: 15px 0px;

    }
  #name {
    margin: 0px 0px;
    margin-right:0px;
    padding: 0px 0px;
    white-space: nowrap;
    font-family: 'PoppinsExtraLight';
    font-weight: bold;
    font-size:15px;
    color: rgb(250, 241, 224);
    text-decoration: none;
    transition: all 0.3s ease;  
    }
    .navbar {

    cursor: pointer;
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-size:10px;
    color: rgb(250, 241, 224);
    text-decoration: none;
    background-color: rgb(39, 39, 39);
    padding: 5px 20px;
    border-radius: 30px;
    transition: all 0.3s ease;
    }
    .board {
    
    display: flex;
    flex-direction: column; 
    position: fixed;
    z-index: 12;
    width: 100%;
    margin-top: -300px;
    border-radius: 80px;
    background-color: rgb(22, 22, 22);
    height:520px;
    transition: all 1s ease;
    overflow: hidden;

    }

    .about {
        top: 200px;
        margin:2px;
        color: aliceblue;
        font-size: 6px;
        padding-right: 0.5%;
        font-family: 'PoppinsExtraLight';
    }

    .moreAbout {
        cursor: pointer;
        font-family: 'PoppinsExtraLight';
        font-size:10px;
        width: 20%;
        margin-top: 5px;
        margin-left: 39%;
        align-items: center;
        color: rgb(250, 241, 224);
        text-decoration: none;
        background-color: rgb(39, 39, 39);
        padding: 10px 10px;
        border-radius: 30px;
        transition: all 0.3s ease; 
    }


    .moreExperience {
        cursor: pointer;
        font-family: 'PoppinsExtraLight';
        color: rgb(250, 241, 224);
        text-decoration: none;
        background-color: rgb(39, 39, 39);
        border-radius: 30px;
        transition: all 0.3s ease; 
    }
    .boardAbout .moreAbout {
    cursor: pointer;
    font-family: 'PoppinsExtraLight';
    font-size:10px;
    width: 20%;
    margin-top: 5px;
    margin-left: 39%;
    align-items: center;
    color: rgb(39, 39, 39);
    text-decoration: none;
    background-color: rgba(250, 241, 224, 0.548);
    padding: 10px 10px;
    border-radius: 30px;
    transition: all 0.3s ease; 
}
    .contact {
        padding-top: 0px;
        margin:2px;
        color: aliceblue;
        font-size: 6px;
        padding-right: 0.5%;
        font-family: 'PoppinsExtraLight';
    }

    .moreContact {
        padding-top: 10px;
        cursor: pointer;
        font-family: 'PoppinsExtraLight';
        font-size:10px;
        width: 20%;
        margin-top: 5px;
        margin-left: 39%;
        align-items: center;
        color: rgb(250, 241, 224);
        text-decoration: none;
        background-color: rgb(39, 39, 39);
        padding: 10px 10px;
        border-radius: 30px;
        transition: all 0.3s ease; 
    }
    .navbarAbout {
        position: fixed;
        z-index: 20;
        justify-content: center;
        display: flex;
        gap: 5px;
        background-color: rgb(197, 191, 182); 
        transition: background-color 0.5s ease-in-out;
    }


    .navbarAbout #name {
    margin: 0px 0px;
    margin-right:0px;
    padding: 0px 0px;
    white-space: nowrap;
    font-family: 'PoppinsExtraLight';
    font-weight: bold;
    font-size:15px;
    color: rgb(17, 17, 17);
    text-decoration: none;
    transition: all 0.3s ease;  
}

    .navbarAbout .navbar {

    cursor: pointer;
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    color: rgb(39, 39, 39);
    font-size:10px;
    text-decoration: none;
    padding: 5px 20px;
    border-radius: 30px;
    background-color: rgb(250, 241, 224);
    transition: all 0.3s ease;
}

    .boardAbout {
    display: flex;
    flex-direction: column; 
    position: fixed;
    z-index: 12;
    width: 100%;
    margin-top: -300px;
    border-radius: 80px;
    background-color: rgb(163, 159, 152);
    height:520px;
    transition: all 1s ease;
    overflow: hidden;

}

    .boardAbout .about {
    margin:2px;
    font-weight: bold;
    color: rgb(39, 39, 39);
    font-size: 6px;
    padding-right: 0.5%;
    font-family: 'PoppinsExtraLight';
}

    .boardAbout .moreAbout {
    cursor: pointer;
    font-family: 'PoppinsExtraLight';
    font-size:10px;
    width: 20%;
    margin-top: 5px;
    margin-left: 39%;
    align-items: center;
    color: rgb(39, 39, 39);
    text-decoration: none;
    background-color: rgba(250, 241, 224, 0.548);
    padding: 10px 10px;
    border-radius: 30px;
    transition: all 0.3s ease; 


}
    .boardAbout .contact {
        padding-top: 0px;
        margin:2px;
        font-size: 6px;
        font-weight: bold;
        color: rgb(39, 39, 39);
        padding-right: 0.5%;
        font-family: 'PoppinsExtraLight';
    }

    .boardAbout .moreContact {
        padding-top: 10px;
        cursor: pointer;
        font-family: 'PoppinsExtraLight';
        font-size:10px;
        width: 20%;
        margin-top: 5px;
        margin-left: 39%;
        align-items: center;
        color: rgb(39, 39, 39);
        text-decoration: none;
        background-color: rgba(250, 241, 224, 0.548);
        padding: 10px 10px;
        border-radius: 30px;
    }

}

@media (max-width: 450px) {
  .navbarContainer {
    gap: 6px; 
    padding: 30px 0px;
    padding-bottom: 15px;

    }
    #name {
    align-items: center;
    position: absolute;
    font-size:24px;
    top:10%;
    }
    .navbar {

    font-size:14px;
    padding: 5px 10px;
    margin-top:23px;
    }
    .board {
    
    background-color: rgb(22, 22, 22);
    height:540px;

    }

    .space {
        margin-bottom: 405px;
    }

    .about {
        margin:1px;
        font-size: 10.5px;
        width: 90%;
        padding-left: 17px;
    }

    .moreAbout {
        font-size:12px;
        margin-top: 5px;
        margin-left: 35%;
        padding-left: 0px;
        padding: 5px 20px;
    }

    .moreExperience {
        max-width: 30%;
        font-size:12px;
        margin-top: 1px;
        margin-left: 30.8%;
        padding-left: 0px;
        padding: 2px 15px;
    }

    .spaceContact {
        margin-bottom: 425px;
    }
    .contact {
        margin:1px;
        font-size: 10.5px;
        width: 90%;
        padding-left: 17px;
    }

    .moreContact {
        min-width: 40%;
        font-size:12px;
        margin-top: 10px;
        margin-left: 30%;
        padding-left: 0px;
        padding: 2px 0px;
    }
    


    .navbarAbout {
        gap: 6px; 
        padding: 30px 0px;
        padding-bottom: 15px;
    }


    .navbarAbout #name {
    align-items: center;
    position: absolute;
    font-size:24px;
    top:10%;
}

    .navbarAbout .navbar {

    font-size:14px;
    padding: 5px 10px;
    margin-top:23px;
}

    .boardAbout {
        background-color: rgb(163, 159, 152);
        height:540px;


}

    .boardAbout .about {
        font-weight: normal;
        color: rgb(39, 39, 39);
        margin:1px;
        font-size: 10.5px;
        width: 90%;
        padding-left: 17px;
}

    .boardAbout .moreAbout {
    font-weight: normal;
    color: rgb(39, 39, 39);
    background-color: rgba(250, 241, 224, 0.548);
    font-size:12px;
    margin-top: 5px;
    margin-left: 35%;
    padding-left: 0px;
    padding: 5px 20px;

}


   .boardAbout .moreExperience {
        font-weight: normal;
        color: rgb(39, 39, 39);
        background-color: rgba(250, 241, 224, 0.548);
        max-width: 30%;
        font-size:12px;
        margin-top: 1px;
        margin-left: 30.8%;
        padding-left: 0px;
        padding: 2px 15px;
    }

    .boardAbout .contact {
        font-weight: normal;
        color: rgb(39, 39, 39);
        margin:1px;
        font-size: 10.5px;
        width: 90%;
        padding-left: 17px;
    }

    .boardAbout .moreContact {
        font-weight: normal;
        color: rgb(39, 39, 39);
        background-color: rgba(250, 241, 224, 0.548);
        min-width: 40%;
        font-size:12px;
        margin-top: 10px;
        margin-left: 30%;
        padding-left: 0px;
        padding: 2px 0px;
    }

}